body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: 700;
  /* background-color: aqua; */
}

/* Buttons */
.button-4 {
  appearance: none;
  background: #fafbfc;
  border: 1px solid rgba(27,31,35,.15);
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(27,31,35,.04),
              inset 0 1px 0 rgba(255,255,255,.25);
  color: #24292e;
  cursor: pointer;
  font: 500 14px/20px system-ui, -apple-system, Segoe UI, Arial, sans-serif;
  padding: 6px 16px;
  transition: background-color .2s cubic-bezier(.3,0,.5,1);
  user-select: none;
}

.button-4:hover { background: #f3f4f6; }
.button-4:active {
  background: #edeff2;
  box-shadow: inset 0 1px 0 rgba(225,228,232,.2);
}
.button-4:disabled {
  color: #959da5;
  cursor: default;
}

