html {
  font-size: 24px;
}

header {
  background-color: blue;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

textarea {
  width: 100%;
  max-width: 800px;
  height: 16em;
  resize: none;
}


